<odoo>
  <data>

      <menuitem id="psvalliance" name="PSValliance" sequence="10" />




        <!--General-->
        <menuitem id="general"
                  name="General"
                  parent="psvalliance"
                  sequence="1" />


                  <!--Measurement Requests-->
                        <menuitem id="subscribers"
                                  name="Subscribers"
                                  parent="general"
                                  sequence="2"
                                  action="subscribers_action" />



                  <!--Clients-->
                        <menuitem id="clients"
                                  name="Clients"
                                  parent="general"
                                  sequence="2"
                                  action="clients_action" />

                  <!--Clients-->
                        <menuitem id="vendors"
                                  name="Vendors"
                                  parent="general"
                                  sequence="2"
                                  action="vendors_action" />

                        


                        
                            
  </data>
</odoo>